{% extends "default/front.html.twig" %}

{% block container %}

    <div class="content" style="padding-left:100px;">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

{% if is_granted("ROLE_ETAB") %}
        <a href="ajoutFor" class="btn btn-primary " style="margin-left: 900px; color: #9ddfe9 ">Ajouter formation</a>
     {% endif %}
        <div class="br-header">
            <!--div class="br-header-left">
                <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
                <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
                <div class="input-group hidden-xs-down wd-170 transition">
                    <h3>Rechercher une formation selon son titre</h3>
                    <input type="text" name="titre" class="form-control" placeholder="Search">
                    <input type="submit" value="Rechercher"><br>

                    </tr>
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>


                  </span>
                </div--><!-- input-group -->


        </div>

        <section class="section-dont-miss">
            <div class="section-title-wrap">
                <h3 class="section-title"style="margin-left: 400px;color: #3E7087;">Voila la liste des formations qui existent : </h3>
            </div>
            {% for formation in formations %}
                <article class="entry post-list">
                    <div class="entry__img-holder post-list__img-holder">
                        <a href="forRob.html.twig">
                            <div class="thumb-container">
                                <img data-src="{{ asset('img/FormationImage.jpg') }}" src="{{ asset('img/FormationImage.jpg') }}" class="entry__img lazyloaded" alt="">
                            </div>
                        </a>
                    </div>

                    <div class="entry__body post-list__body" >
                        <div class="entry__header" >
                            <a href="categories.html" class="entry__meta-category">{{ formation.etablissement }}</a>
                            <h2 class="entry__title">
                                {{ formation.titre }}
                            </h2>
                            <ul class="entry__meta">
                                <li class="entry__meta-date">
                                    {{ formation.DateDebut|date('d M Y') }}
                                </li>
                                <li class="entry__meta-date">
                                    {{ formation.DateFin|date('d M Y') }}
                                </li>
                                <li class="entry__meta-author">
                                    Cost <a href="#">{{ formation.Prix }}</a> DT
                                </li>
                            </ul>
                        </div>
                        <div class="entry__excerpt">
                            <p> {{ formation.Description }}</p>

                        </div>

                    </div>

                    {% if (app.user.id == formation.userId) and is_granted("ROLE_ETAB") %}

                        <a href="{{ path('modifierFor',{ 'id':formation.id })  }}" class="btn btn-primary"style="margin-left: 700px;">Modifier</a>
                        <a href="{{ path('SupprimerFor',{ 'id':formation.id })  }}" class="btn btn-danger"style="margin-left: 700px;">Supprimer</a>



                    {% elseif is_granted("ROLE_USER") %}
                        <a href="{{ path('participerFor',{ 'id':formation.id })  }}" class="btn btn-secondary"style="margin-left: 700px;">Participer</a>

                    {% endif %}

                </article>
                "{{ twitterButton() }}"
                "{{ facebookButton() }}"
                "{{ linkedinButton() }}"
            {% endfor %}



        </section>
    </div>


{% endblock %}